body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title{
    font-size: 50pt;
    text-align: center;
}
.name{
    font-size: 30pt;
}
.category{
    font-size: 15pt;
}
.portrait-box{
    float: right;
    position: relative;
    margin-top: -5%;
}

.link_til_profil{
    font-size: 20pt;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.explainer{
    font-size: 20pt;
    text-align: center;
}
.link_til_profil_box{
    background-color: #5a5a5a;
    width: fit-content;
    margin: auto;
}
div:hover {
    background-color: #afafaf;
}
a:hover {
    color: black;
}