body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title{
    font-size: 50pt;
    text-align: center;
}
.homepage_meme_box{
    margin: auto;
    display: flex;
    align-items: center;
}
.homepage_meme{
    margin: auto;
}
.name{
    font-size: 30pt;
}
.category{
    font-size: 15pt;
}
.portrait-box{
    float: right;
    position: relative;
    margin-top: -5%;
}

.link_til_profil{
    font-size: 20pt;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.explainer{
    font-size: 20pt;
    text-align: center;
}
.link_til_profil_box{
    background-color: #5a5a5a;
    width: fit-content;
    margin: auto;
}
.link_til_profil_box:hover {
    background-color: #afafaf;
}
a:hover {
    color: black;
}
.back_to_homepage{
    background-color: #5a5a5a;
    width: fit-content;
    height: 50px;
    margin: left;
    position: absolute;
    margin-top: 15px;
    align-content: space-around;
}
.link_back_to_homepage{
    font-size: 20pt;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    align-self: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.back_to_homepage:hover {
    background-color: #afafaf;
}